.ps5-odds {
    &__text {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        margin-top: 15px;
        color: #fff;
    }
}