.header {
    &__search-input {
        width: 142px;
        padding-left: 25px;
        background: #F8F8F8;
        border: 1px solid #F8F8F8;
        border-radius: 5px;
        &::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #383838;
        }
    }
}