@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

ul, ol, p {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.new-releases, .coming-soon, .sales, .freetoplay, .collections, .genres, .more,
.game-slider, .game-main {
    background: #1f1f1f;
}

// TODO: Refactor
// ! add unit test
// ? should we rename this?
// * test



// * index page
@import 'blocks/label/label';
@import 'blocks/label/__logo/label__logo';

@import 'blocks/header/header';
@import 'blocks/header/__avatar/header__avatar';
@import 'blocks/header/__favourite/header__favourite';
@import 'blocks/header/__cart/header__cart';
@import 'blocks/header/__logo/header__logo';
@import 'blocks/header/__logo-img/header__logo-img';
@import 'blocks/header/__navigation/header__navigation';
@import 'blocks/header/__search-form/header__search-form';
@import 'blocks/header/__search-input/header__search-input';
@import 'blocks/header/__search-label/header__search-label';
@import 'blocks/header/__wrapper/header__wrapper';

@import 'blocks/menu/menu';
@import 'blocks/menu/__list-item/menu__list-item';
@import 'blocks/menu/__list-link/menu__list-link';
@import 'blocks/menu/__list/menu__list';

@import 'blocks/promo/promo';

@import 'blocks/tabs/tabs';
@import 'blocks/tabs/__games-item/tabs__games-item';
@import 'blocks/tabs/__games-item/_active/tabs__games-item_active';
@import 'blocks/tabs/__games/tabs__games';
@import 'blocks/tabs/__wrapper/tabs__wrapper';

@import 'blocks/slider/slider';
@import 'blocks/slider/__item/slider__item';
@import 'blocks/slider/__logo/slider__logo';
@import 'blocks/slider/__img/slider__img';
@import 'blocks/slider/__btn/slider__btn';
@import 'blocks/slider/__content/slider__content';

@import 'blocks/section-caption/section-caption';
@import 'blocks/section-caption/__title/section-caption__title';
@import 'blocks/section-caption/__btn/section-caption__btn';

@import 'blocks/trending/trending';
@import 'blocks/trending/__wrapper/trending__wrapper';
@import 'blocks/trending/__item/trending__item';
@import 'blocks/trending/_link/trending__link';
@import 'blocks/trending/__buy/trending__buy';
@import 'blocks/trending/__cart/trending__cart';
@import 'blocks/trending/__cost/trending__cost';

@import 'blocks/game-badges/game-badges';
@import 'blocks/game-badges/__item/game-badges__item';
@import 'blocks/game-badges/_white/game-badges__item_white';
@import 'blocks/game-badges/_black/game-badges__item_black';
@import 'blocks/game-badges/_editions/game-badges__item_editions';

@import 'blocks/games/games';
@import 'blocks/games/__wrapper/games__wrapper';
@import 'blocks/games/__wrapper/_explore/games__wrapper_explore';
@import 'blocks/games/__buy/games__buy';
@import 'blocks/games/__img/games__img';
@import 'blocks/games/__item/games__item';
@import 'blocks/games/__name/games__name';
@import 'blocks/games/__publisher/games__publisher';
@import 'blocks/games/__info/games__info';
@import 'blocks/games/__badges/games__badges';
@import 'blocks/games/__discount/games__discount';

@import 'blocks/psnow/psnow';
@import 'blocks/psnow/__caption/psnow__caption';
@import 'blocks/psnow/__img/psnow__img';
@import 'blocks/psnow/__logo/psnow__logo';
@import 'blocks/psnow/__more/psnow__more';
@import 'blocks/psnow/__text/psnow__text';
@import 'blocks/psnow/__wrapper/psnow__wrapper';

@import 'blocks/sales/sales';
@import 'blocks/sales/__bundles/sales__bundles';
@import 'blocks/sales/__pack-caption/sales__pack-caption';
@import 'blocks/sales/__pack-cost/sales__pack-cost';
@import 'blocks/sales/__pack-ends/sales__pack-ends';
@import 'blocks/sales/__pack/sales__pack';
@import 'blocks/sales/__studio-caption/sales__studio-caption';
@import 'blocks/sales/__studio-icon/sales__studio-icon';
@import 'blocks/sales/__studio/sales__studio';
@import 'blocks/sales/__studio/_left/sales__studio_left';
@import 'blocks/sales/__studio/_right/sales__studio_right';
@import 'blocks/sales/__studio-icon/_left/sales__studio-icon_left';
@import 'blocks/sales/__studio-icon/_right/sales__studio-icon_right';
@import 'blocks/sales/__studio-caption/_left/sales__studio-caption_left';
@import 'blocks/sales/__studio-caption/_right/sales__studio-caption_right';
@import 'blocks/sales/__studio-content/sales__studio-content';
@import 'blocks/sales/__studio-content/_left/sales__studio-content_left';
@import 'blocks/sales/__studio-content/_right/sales__studio-content_right';

@import 'blocks/psplus/psplus';
@import 'blocks/psplus/__caption/psplus__caption';
@import 'blocks/psplus/__games/psplus__games';
@import 'blocks/psplus/__item-icon/psplus__item-icon';
@import 'blocks/psplus/__item/psplus__item';
@import 'blocks/psplus/__logo/psplus__logo';
@import 'blocks/psplus/__more/psplus__more';
@import 'blocks/psplus/__text/psplus__text';
@import 'blocks/psplus/__wrapper/psplus__wrapper';
@import 'blocks/psplus/__bg/psplus__bg';
@import 'blocks/psplus/__bg/_cropped/psplus__bg_cropped';

@import 'blocks/collections/collectons';
@import 'blocks/collections/__wrapper/collectons__wrapper';
@import 'blocks/collections/__item/collectons__item';
@import 'blocks/collections/__item/_big/collectons__item_big';
@import 'blocks/collections/__item-link/collectons__item-link';
@import 'blocks/collections/__item-img/collectons__item-img';

@import 'blocks/genres/genres';
@import 'blocks/genres/__wrapper/genres__wrapper';
@import 'blocks/genres/__item/genres__item';
@import 'blocks/genres/__link/genres__link';
@import 'blocks/genres/__name/genres__name';

@import 'blocks/more/more';
@import 'blocks/more/__wrapper/more__wrapper';
@import 'blocks/more/__item/more__item';
@import 'blocks/more/__link/more__link';
@import 'blocks/more/__name/more__name';

@import 'blocks/footer/footer';
@import 'blocks/footer/__wrapper/footer__wrapper';
@import 'blocks/footer/__menu/footer__menu';
@import 'blocks/footer/__menu-list/footer__menu-list';
@import 'blocks/footer/__menu-link/footer__menu-link';
@import 'blocks/footer/__logo/footer__logo';
@import 'blocks/footer/__copyright/footer__copyright';
@import 'blocks/footer/__apps/footer__apps';
@import 'blocks/footer/__apps-list/footer__apps-list';
@import 'blocks/footer/__apps-link/footer__apps-link';

// * explore page
@import 'blocks/new-releases/new-releases';
@import 'blocks/new-releases/__content/new-releases__content';

@import 'blocks/explore/explore';
@import 'blocks/explore/__aside/explore__aside';
@import 'blocks/explore/__section-caption/explore__section-caption';
@import 'blocks/explore/__new-releases/explore__new-releases';

@import 'blocks/aside/aside';
@import 'blocks/aside/__btn/aside__btn';
@import 'blocks/aside/__budget/aside__budget';
@import 'blocks/aside/__content/aside__content';
@import 'blocks/aside/__features-item/aside__features-item';
@import 'blocks/aside/__features-list/aside__features-list';
@import 'blocks/aside/__features/aside__features';
@import 'blocks/aside/__form/aside__form';
@import 'blocks/aside/__genres-item/aside__genres-item';
@import 'blocks/aside/__genres-list/aside__genres-list';
@import 'blocks/aside/__genres/aside__genres';
@import 'blocks/aside/__header/aside__header';
@import 'blocks/aside/__media-item/aside__media-item';
@import 'blocks/aside/__media-list/aside__media-list';
@import 'blocks/aside/__media/aside__media';
@import 'blocks/aside/__platform-btn/aside__platform-btn';
@import 'blocks/aside/__platform-btn/_active/aside__platform-btn_active';
@import 'blocks/aside/__platform/aside__plarform';
@import 'blocks/aside/__price-range/aside__price-range';
@import 'blocks/aside/__price/aside__price';
@import 'blocks/aside/__prices/aside__prices';
@import 'blocks/aside/__price/_start/aside__price_start';
@import 'blocks/aside/__price/_ends/aside__price_ends';
@import 'blocks/aside/__title/aside__title';
@import 'blocks/aside/__name/aside__name';

// * games
@import 'blocks/game-aside/game-aside';
@import 'blocks/game-aside/__btn/game-aside__btn';
@import 'blocks/game-aside/__container/game-aside__container';
@import 'blocks/game-aside/__gift-img/game-aside__gift-img';
@import 'blocks/game-aside/__gift-text/game-aside__gift-text';
@import 'blocks/game-aside/__item/game-aside__item';
@import 'blocks/game-aside/__text/game-aside__text';
@import 'blocks/game-aside/__tittle/game-aside__title';
@import 'blocks/game-aside/__wrapper/game-aside__wrapper';

@import 'blocks/game-header/game-header';
@import 'blocks/game-header/__container/game-header__container';
@import 'blocks/game-header/__content/game-header__content';
@import 'blocks/game-header/__description/game-header__description';
@import 'blocks/game-header/__logo/game-header__logo';
@import 'blocks/game-header/__mature-img/game-header__mature-img';
@import 'blocks/game-header/__mature-text/game-header__mature-text';
@import 'blocks/game-header/__mature/game-header__mature';
@import 'blocks/game-header/__name/game-header__name';
@import 'blocks/game-header/__wrapper/game-header__wrapper';

@import 'blocks/game-about/game-about';
@import 'blocks/game-about/__about-paragraph/game-about__about-paragraph';
@import 'blocks/game-about/__about-text/game-about__about-text';
@import 'blocks/game-about/__about-title/game-about__about-title';
@import 'blocks/game-about/__editions-buy/game-about__editions-buy';
@import 'blocks/game-about/__editions-cart/game-about__editions-cart';
@import 'blocks/game-about/__editions-content/game-about__editions-content';
@import 'blocks/game-about/__editions-img/game-about__editions-img';
@import 'blocks/game-about/__editions-item/game-about__editions-item';
@import 'blocks/game-about/__editions-more/game-about__editions-more';
@import 'blocks/game-about/__editions-page/game-about__editions-page';
@import 'blocks/game-about/__editions-price/game-about__editions-price';
@import 'blocks/game-about/__editions-text/game-about__editions-text';
@import 'blocks/game-about/__editions-wrapper/game-about__editions-wrapper';
@import 'blocks/game-about/__features-caption/game-about__features-caption';
@import 'blocks/game-about/__features-img/game-about__features-img';
@import 'blocks/game-about/__features-item/game-about__features-item';
@import 'blocks/game-about/__features-text/game-about__features-text';
@import 'blocks/game-about/__features-wrapper/game-about__features-wrapper';
@import 'blocks/game-about/__head/game-about__head';
@import 'blocks/game-about/__header/game-about__header';
@import 'blocks/game-about/__item-text/game-about__item-text';
@import 'blocks/game-about/__item/game-about__item';

