.psplus {
    &__item {
        height: 451px;
        width: 375px;
        position: relative;
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            position: absolute;
        }
        &:nth-child(3) {
            right: 0;
            top: 0;
        }
        &:nth-child(2) {
            right: 160px;
            top: 0;
        }
        &:nth-child(1) {
            right: 318px;
            top: 0;
        }
    }
}