.psplus {
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        text-align: center;
        width: 500px;
        margin-top: 20px;
    }
}