.game-badges {
    &__item {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        padding: 0 4px;
        margin-right: 3px;
    }
}