.login-form {
    &__id {
        padding: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        border-radius: 5px;
        border: 1px solid #c8c8c8;
        ::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }
    }
}