.games {
    &__buy {
        background: #0072CE;
        box-shadow: 0px 0px 15px #0072CE;
        border-radius: 10px;
        border: none;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        padding: 5px 0;
        width: 100%;
        margin-top: 18px;
        margin-bottom: 3px;
    }
}