.ps5-exclusives {
    &__more {
        display: inline-block;
        color: #fff;
        border: none;
        background: #0072ce;
        box-shadow: 0 0 15px #0072ce;
        border-radius: 5px;
        padding: 11px 15px;
        font-weight: 600;
        margin-top: 15px;
    }
}