.login-form {
    &__reference {
        margin-top: 25px;
        display: block;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #A9A9A9;
    }
}