.aside {
    &__price {
        background: #0072CE;
        border-radius: 3px;
        position: relative;
        width: 50px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        &::placeholder {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
        }
    }
}