.psnow {
    &__text {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #E4E4E4;
        margin-left: 95px;
        text-align: center;
    }
}