.game-aside {
    &__btn {
        display: block;
        width: 100%;
        border: none;
        background: #0072CE;
        box-shadow: 0px 0px 15px #0072CE;
        border-radius: 5px;
        padding: 11px 0px;
    }
}