.ps5-consoles {
    &__tabs-buy {
        background: #0072ce;
        box-shadow: 0 0 10px #0072ce;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        color: #fff;
        border: none;
        padding: 13px;
    }
}