.dualsense {
    &__wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 600px;
        padding-bottom: 30px;
    }
}