.game-about {
    &__features-caption {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        display: block;
        margin-top: 10px;
    }
}