.game-about {
    &__editions-page {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #C4C4C4;
        text-transform: uppercase;
    }
}