.psnow {
    &__more {
        display: inline-block;
        background-color: rgba(#383838, .5); 
        border: 1px solid #0072CE;
        border-radius: 2px;
        padding: 6px 13px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        align-items: center;
        color: #FFFFFF;
        margin-top: 40px;
        margin-left: 185px;
    }
}