.game-header {
    &__price {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 7px;
    }
}