.game-about {
    &__editions-text {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 41px;
        width: 375px;
    }
}