.game-about {
    &__editions-price {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 100%;
        color: #FFFFFF;
        margin-right: 15px;
    }
}