.sales {
    &__studio-caption_left {
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
        width: 128px;
        text-transform: uppercase;
        padding-left: 12px;
    }
}