.ps5-gamelist {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(265px, 1fr));
        grid-template-rows: repeat(1, minmax(150px, 1fr));
        grid-gap: 30px;
        margin-top: 40px;
        padding-bottom: 90px;
    }
}